PORT=3000
PDF_PRINT_TIMEOUT_MS=15000
DB_PASSWORD=secretpassword4D7qR9Vo3sNxZTDixH
DB_USER=tagliandonline
DB_NAME=tagliandonline
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=CHANGEME
SOFFICE_PATH=/usr/bin/soffice
REPLACING_ADMIN_PASSWORD=supersecretpasswordUO71j8G
