PORT=3000
PDF_PRINT_TIMEOUT_MS=15000
DB_PASSWORD=secretpassword4D7qR9Vo3sNxZTDixH
DB_USER=tagliandonline
DB_NAME=tagliandonline
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=CHANGEME
SOFFICE_PATH=/usr/bin/soffice
REPLACING_ADMIN_PASSWORD=supersecretpasswordUO71j8G
DATA_PATH=../data
BASE_URL=https://tagliandonline.example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=email@example.com
SMTP_PASSWORD=examplepassword
SMTP_SECURE=true
PA_NAME=Your PA name
PA_LINK=Your PA website link
PA2_NAME=Higher PA name
PA2_LINK=Higher PA link
